* {
  box-sizing: border-box;
}

article {
  width: 60%;
  background: rgb(255, 255, 255);
  background: #00e1d9;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: auto;
  position: relative;
  transition: 0.25s;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-half article {
  display: flex;
  justify-content: space-around;
}

.right-half article img {
  width: 25%;
  height: 25%;
  max-width: 20rem;
}

p {
  margin: 0;
}

article > p {
  padding: 3rem 2rem;
  font-size: 28px;
  margin-top: 0;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
}

.collapsible {
  background-color: rgb(221, 25, 25);
  transition: background-color 1s;
  color: black;
  cursor: pointer;
  padding: 18px;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  text-align: center;
  display: block;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: rgb(22, 235, 193);
  transition: background-color 1s;
}

.content {
  display: none;
  margin: auto;
  padding-left: 20px;
  width: 50%;
  text-align: left;
  background: #00e1d9;
  color: #5e001f;
}

ul {
  list-style: none;
  padding: 4px;
  white-space: nowrap;
}

.rest {
  margin-left: 30px;
  font-size: 20px;
}
